#preview {
    font: 0.6em Verdana, Arial, sans-serif;
    position: absolute;
    display: none;
    padding: 0.5em;
    background: #000;
    color: #FFF;
}

#preview h1 {
    font-size: 1em;
    text-align: center;
}
